.UserList {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px + 30px;
}
.UserList__item {
  max-width: 370px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-basis: calc((100% / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid;
}
.text__name {
  margin-right: 5px;
}
.ContactList__text {
  margin-right: 5px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
}
.infofield {
  margin-bottom: 5px;
}
.fieldcontent {
  margin-left: 3px;
  font-weight: 500;
}
